/**
 * For the entire wrapper around body
 */

#wrapper {
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

#wrapper > * {
  position: absolute;
}

/**
 * The graph
 */

canvas#graph {
  width: 400px;
  height: 400px;
  background-color: #eee;
  top: 70px;
}

/**
 * For all the "panels" (i.e. the parts beside the graph)
 */
 
#beside-graph {
  left: 500px;
}

#beside-graph .header:not(:first-child) {
  margin-top: 20px;
}

/* #beside-graph div:nth-child(1) {
  top: 0px;
}

#beside-graph div:nth-child(2) {
  top: 100px;
} */

/**
 * For each individual "panel" beside the graph
 */

/* .header {
  left: 500px;
} */

.header p {
  margin: 0px;
}

/* .header p:nth-child(2) {
  top: 20px;
}

.header p:nth-child(3) {
  top: 40px;
}

.header p:nth-child(4) {
  top: 60px;
} */