<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8" />
<title>The Industry</title>

<script src="js/jquery.min.js"></script>
<script src="js/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css" />

</head>
<body data-ng-app="app" data-ng-controller="ctrl" data-ng-cloak>

<div id="wrapper">
  <h1>Graph of Industry of <span id="graph-title"></span><br \></h1>

  <!-- Width and height must be specified here (not in CSS), or
  else canvas drawing is blurry -->
  <canvas class="graph" id="axes-graph" width="400" height="400">
  Your web browser doesn't support canvas content.</canvas>
  <canvas class="graph" id="supply-graph" width="400" height="400"></canvas>
  <canvas class="graph" id="demand-graph" width="400" height="400"></canvas>
  <canvas class="graph" id="graph-indicators" width="400" height="400">
  </canvas>

  <div id="beside-graph">

    <div class="panel">
      <p><b>Domestic Equilibrium</b></p>
      <p>Quantity: <span id="eq-q"></span></p>
      <p>Price: $<span id="eq-p"></span></p>
    </div>
    
    <div class="panel">
      <p><b>Domestic Quantities</b></p>
      <p>Quantity Demanded: <span id="qd"></span></p>
      <p>Quantity Supplied: <span id="qs"></span></p>
      <p>State: <i><span id="state"></span></i></p>
    </div>

    <div class="panel">
      <p><b>Domestic Producers' Revenue</b></p>
      <p>Total: $<span id="total-rev"></span></p>
    </div>

    <div class="panel">
      <p><b>Welfare</b></p>
      <p>Total (Economic Surplus): $<span id="eco-s"></span></p>
      <p>Consumer Surplus: $<span id="con-s"></span></p>
      <p>Producer Surplus: $<span id="pro-s"></span></p>
    </div>

    <div class="panel">
      <p><b>International Matters</b></p>
      <p>Closed economy: <input type="checkbox" data-ng-model="isClosed" /></p>
      <div data-ng-if="!isClosed">
        <p>World price: $<input type="number" name="world-p" />
          <input type="button" value="Update" onclick="update('worldPrice')" />
          </p>
        <p>Number of imports: <span id="imports"></span></p>
      </div>
    </div>

    <div class="panel">
      <p><b>Government: <input type="checkbox" data-ng-model="isPublic" />
        </b></p>
      <div data-ng-if="isPublic"> <!-- if considering government -->

        <br /><p>Deadweight Loss (Area): $<span id="dwl">0</span></p><br />

        <div data-ng-if="isClosed"> <!-- if closed, public economy -->

          <div> <!-- tax info -->
            <!-- figure out what the user wants taxed -->
            <p>Tax On: <select data-ng-model="taxed">
              <option value="demand">Demand</option>
              <option value="supply">Supply</option>
            </select></p>

            <p>How Much: $<input type="number"
              name="tax-amount" value=0 /></p>
            <p>Tax Revenue: $<span id="tax-revenue"></span></p>
          </div> <!-- tax info -->

          <div> <!-- subsidy info -->
            <!-- figure out what the user wants subsidized -->
            <br><p>Subsidy For: <select data-ng-model="subsidized">
              <option value="demand">Demand</option>
              <option value="supply">Supply</option>
            </select></p>

            <p>How Much: $<input type="number"
              name="subsidy-amount" value=0 /></p>
          </div> <!-- subsidy info -->

          <div> <!-- price mechanism info -->
            <br><p>Price Mechanism: <select data-ng-model="priceMechanism">
              <option value="none">None</option>
              <option value="floor">Floor</option>
              <option value="ceiling">Ceiling</option>
            </select></p>
            <div data-ng-if="priceMechanism != 'none'">
              <p>How Much: $<input type="number" name="p-mech" value=0 /></p>
            </div>
          </div> <!-- price mechanism info -->

        </div> <!-- if closed, public economy -->
        <div data-ng-if="!isClosed"> <!-- if open, public economy -->

          <div> <!-- trade info -->
            <br><p>Trade Factor: <select data-ng-model="tradeFactor">
              <option value="none">None</option>
              <option value="tariff">Tariff</option>
              <option value="quota">Quota</option>
            </select></p>
            <div data-ng-if="tradeFactor != 'none'">
              <p>How Much: <input type="number" name="trade-factor"
                value=0 /></p>
            </div>
          </div> <!-- trade info -->

        </div> <!-- if open, public economy -->

      </div> <!-- if considering government -->
    </div> <!-- div.panel -->

  </div> <!-- end beside the graph -->
</div> <!-- end wrapper -->

<script src="js/utility.js"></script>
<script src="js/piecewise-function.js"></script>
<script src="js/string-input.js"></script>
<script src="js/graph.js"></script>
<script src="js/controller.js"></script>
<script src="js/script.js"></script>

</body>
</html>